.container {
   min-height: calc(100vh - 132px);
   margin-top: 64px;
}

.bookingPage {
   max-width: 1000px;
   margin: 10px auto;
   /* Updated to 10px margin around the page */
   padding: 40px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}

.ticketList {
   margin-top: 20px;
}

.ticketTable {
   width: 100%;
   border-collapse: collapse;
}

.ticketTable th,
.ticketTable td {
   padding: 15px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}

.ticketDetails {
   display: flex;
   align-items: center;
}

.ticketImage {
   width: 100px;
   height: 100px;
   margin-right: 20px;
   border-radius: 8px;
}

.tourName {
   font-weight: bold;
   margin-bottom: 5px;
}

.statusUpcoming {
   color: #ff9900;
   font-weight: bold;
}

.statusEnded {
   color: #5cb85c;
   font-weight: bold;
}

.ticketTable tr:hover {
   background-color: #f5f5f5;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
   .bookingPage {
      margin: 10px;
      /* Maintain the 10px margin on smaller screens */
      padding: 20px;
   }

   .ticketDetails {
      flex-direction: column;
      align-items: flex-start;
   }

   .ticketImage {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 10px;
   }

   .ticketTable th,
   .ticketTable td {
      padding: 10px;
   }

   h1 {
      font-size: 20px;
      margin-bottom: 15px;
   }
}

@media screen and (max-width: 575px) {
   .container {
      margin-top: 32px;
   }

   .bookingPage {
      margin: 10px;
      /* Maintain the 10px margin for mobile screens */
      padding: 15px;
   }

   .ticketImage {
      width: 60px;
      height: 60px;
   }

   .ticketTable th,
   .ticketTable td {
      padding: 8px;
   }

   h1 {
      font-size: 18px;
      margin-bottom: 10px;
   }
}