.container{
   background-color: rgba(255, 255, 255, 0.772);
}

.active {
   text-decoration: underline rgb(251 146 60);
 }

.font {
   font-size: 20px;
}

.login{
   color: white;
   cursor: pointer;
}