.textContainer {
   margin: 0 0 64px 0;
   text-align: center;
}

.selectorContainer {
   background-color: white;
   box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 10%);
   padding: 24px 12px;
   border-radius: 12px;
}

.dateRangeContainer {
   min-width: 240px;
   text-align: center;
}

@media screen and (max-width: 850px) {
    .dateRangeContainer {
        min-width: 190px;
        max-width: 220px;
    }
}
